@font-face {
  font-family: 'JSD12'; /* ตั้งชื่ออะไรก็ได้ที่คุณจะเรียกใช้ */
  src: url('/fonts/Kanit/Kanit-Medium.ttf') format('truetype'); /* ใส่ชื่อไฟล์และนามสกุลให้ตรงเป๊ะ */
  font-weight: bold;
  font-style: normal;
}





*{
    font-family:  JSD12; 
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.my-name{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 40px;
   
    margin: 0;
    padding: 0;
    
}



@keyframes luxury-glow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.expensive-rainbow {
  /* ใช้โทนสีรุ้งแบบมุก/ทองคำขาว (Rose Gold, Champagne, Soft Blue, Pale Violet) */
  background: linear-gradient(
    to right, 
    #eecda3, #ef629f, #8e44ad, #3498db, #27ae60, #eecda3
  );
  background-size: 300% auto;
  
  /* ทำให้สีอยู่ในตัวอักษร */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* อนิเมชั่นช้าๆ (10-15 วินาที) จะดูแพงกว่า */
  animation: luxury-glow 10s ease-in-out infinite;
  
  /* ตกแต่งเพิ่มเติม */
  
  font-size: 50px;
  font-family: 'jsd12; 
  
  
}


 /*-----------nav------------------*/
 .menu{
    display: flex;
    justify-content: space-between;
    margin: 24px ;
    font-size: 32px;
    height: 64px;
    
     
}

.spanname{
    font-weight: bold;
}

.spanlogo{
    color: grey;
    
}


/*ตัวครอบฝั่งซ้าย*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*icon หลัก*/
.imglogo{
   width: 40px;
}


/*icon รอง ที่หายไปจอใหญ่*/
.imglogo1{
   width: 40px;
   display: none;
   
   
}



/*ตัวครอบฝัั่งขวา*/
.menu-right{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;   /*เอา จุดๆออก*/
    
    gap: 16px;
    
    
}


/*ชื่อตัวทางขวาทั้งหมด*/
.menu-right li a{
   text-decoration: none;  /*เอาเส้นออก*/
   color: black;
   font-size: 28px;
}

.menu-right li a:hover{
   text-decoration: none;
   color: rgba(22, 62, 172, 0.911);
}



/*-----------main------------*/



/*section hero*/
.hero{
    display: flex;
    background-color: #E0E0E0;
    padding: 32px 24px;
    gap: 24px;
    
}

.herocontainer {
    display: flex;
    padding: 0;
    width: 60%;
    
    
}

img{
   width: 100%;
}

.herobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    margin: 0 ; 
    gap: 32px;
    
    
    
     
}

h1{
    display: flex;
    line-height: 1.1;      /* ระยะบรรทัดชิดๆ */
    letter-spacing: -1px;  /* บีบตัวอักษร */
    margin: 0 !important; 
    font-size: 34px;

    
}

/*This p*/
.heroitem{
    margin-top: 0;
    font-size: 20px;
    color: #747171;
}

.heroitem1{
    padding: 8px 0;
    background-color: rgba(0, 0, 0, 0.548);
    color: whitesmoke;
    text-align: center;
    margin: 0;
    
    
    
    

}



/*-------------sction information-------------*/
  

/*ครอปใหญ่สุด*/
.information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #e0e0e054;
    
}


/*ครอปกล่อง ซ้ายขวา*/
.main-container {
    display: flex;
    margin: 0 ;
    
}



/* --- ฝั่งซ้าย (ทั้งหมด) --- */
.content-left {
    
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 32px 24px;
    gap: 32px;
}



.text-group{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}


/* fonts */
.content-left h2  {
    font-size: 32px;
    margin: 0;
    
    
}

.content-left .quote {
    margin: 0; /* ระยะห่างใต้เนื้อหา 32px */
    color: #666;
    line-height: 1.6;
}

.content-left .author {
    color: #999;
    font-size: 0.9rem;
}





/* --- ฝั่งขวา (List Content) --- */
.content-right {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
    width: 40%;
}


/* fonts */
 .list-text h3,
 .list-text h4,
 .list-text h5{
      font-size: 26px; 
      margin: 0;   
}


.text-p{
    margin: 0 0 32px 0; /* ระยะห่างใต้เนื้อหา 32px */
    color: #666;
    line-height: 1.6;
    margin: 0;
}

/*กล่องขวา ชื่อเดียวกันหมด*/
.list-item {
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: center;
    width: 100%;
    
}


/*ที่ครอปเฉพาะรูป*/
.list-img{
    display: flex;
    
    width: 35%;

}

.list-img .img1{
    width: 100%;       /* ให้รูปกว้างเต็ม  */
    height: auto;       /* ให้รูปสูงเต็ม */
    object-fit: cover;  /* สำคัญ! เพื่อไม่ให้รูปเบี้ยวเวลาขยายเต็มกรอบ */
    display: block;     /* ลบช่องว่างใต้รูป */
}


.list-text{
    display: flex;
    flex-direction: column;
    
    padding: 16px;
    align-items: start;
    color: black;
    width: 65%;
    gap: 8px;
    
    
    
    
}

.list-text a {
    display: flex;
    
    
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}



/* สไตล์เฉพาะสำหรับตัวที่ 3 (Highlight) */
.list-item.highlight {
    background-color: #cfcbcb8f; /* สีพื้นหลังเทาอ่อน */
    
     /* ดึงกลับเพื่อให้ระยะห่างเท่าเดิมแต่มีสีพื้นหลัง */
    border-radius: 4px;
}


/*ขนาดdiv ส่วนฝั่งขวา รูปทั้งหมด*/
.list-img img {
    width: 120px; /* ปรับขนาดรูปเล็กตามต้องการ */
    height: 80px;
    object-fit: cover;
}




/*------------section-course-------------------------*/


.COURSES{
    background-color: #E0E0E0;
    padding: 32px 72px 32px 72px;
    
}

.name-p{
    font-weight: 800;
    font-size: 40px;
    margin: 0;
   
}




.main-title {
  text-align: center;
  margin: 0;
   padding: 0;
  margin-bottom: 32px; /* ระยะห่าง 32px จากชื่อเรื่องลงมาที่รูป */
  font-size: 2rem;
  
}

/* ตัวคุมกล่องทั้ง 6 */
.flex-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 32px;         /* ระยะห่างระหว่างกล่อง (Gutter) 32px ทั้งแนวตั้ง/นอน */
  justify-content: center;
  margin: 0;
  width: 100%;
  
}





/* ตัว Card (3 กล่องต่อแถว) */
.card {
  background: white;
  width: 31%; /* กำหนดความกว้างประมาณ 1 ใน 3 ของหน้าจอ */
  display: flex;
  flex-direction: column;
  
  
  
  
  
    
}

/* ส่วนรูปภาพ */
.card-image img {
  width: 100%;
  height: auto;      /* ปล่อย Auto ตามที่รูปวงไว้ */
  display: block;
  object-fit: cover;
}


.card-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  
  padding: 16px 16px 24px 16px;
          
}


/*   ----------------- section thisis------------------------------------*/


/* --- คอนเทนเนอร์หลัก --- */

.thesis{
    padding: 32px 24px;
}


.thesis-container {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-top: 32px;

}

/* 2. ฝั่งซ้าย (60%) */
.main-content {
  width: 60%;           
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}


.video-placeholder {
  width: 100%;
  
}

.video-placeholder video {
  width: 100%;      /* บังคับให้กว้างเท่ากับกรอบ 60% */
  height: auto;     /* ปรับความสูงตามอัตราส่วน */
  display: block;
}

/* --- ฝั่งขวา: รายการย่อย (40%) --- */
.side-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  
  
}

/* รายการย่อยแต่ละอัน */
.side-item {
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  background-color: #acacac6e;
  
}

.side-item1 {
  display: flex;
  padding: 16px;
  width: 100%;
  align-items: flex-start;
  gap: 16px;
  
}



/* 1. คอนเทนเนอร์รูปภาพ (35%) */
.side-img-box {
  
  width: 35%;      /* ล็อกขนาดรูปไว้ที่ 35% ไม่ให้ขยายเกินนี้ */
  min-width: 0; 
}

.side-img-box .img3{
    width: 100%;
}





/* 2. คอนเทนเนอร์ข้อความ (65%) */
.side-text {
    flex: 1;
  
  
  
}




/* ---  <p> --- */
.thesis-title {
  margin: 0;
  padding: 0;
  display: block; 
  font-size: 50px;
   text-align: center;
}

/*ฝั่งซ้าย*/
.main-heading{
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.description{
    font-size: 26px;
    color: #666;
    margin-top: 8px;
    margin-bottom: 0;
}


/* p ฝั่งขวา */

.side-title{
    font-size: 28px;
}

.side-sub{
    font-size: 24px;
    color: #666;
}

/*---------footer-------------------*/
footer {
  /* จัดวางซ้าย-ขวา */
  display: flex;
  justify-content: space-between;
  align-items: self-start; 
  height: 70px;           
  
  
  border-top: 1px solid #d1d1d1; 
  
  
  padding: 16px 24px;   /* บน-ล่าง 16px, ซ้าย-ขวา 24px */
       
  
  /* 4. ตกแต่งตัวอักษรให้ดูแพง */
  font-family: sans-serif;
  font-size: 14px;
  color: #666;
}

/* ล้างค่าเริ่มต้นของ p ใน footer */
.footer-left p {
  margin: 0;
}

/* จัดการลิงก์ฝั่งขวา */
.footer-right a {
  text-decoration: none; /* เอาเส้นใต้ตัวอักษรออก */
  color: inherit;        /* ใช้สีเดียวกับตัวอักษรหลัก */
  margin-left: 16px;     /* ระยะห่างระหว่าง Terms กับ Privacy */
}

.footer-right a:hover {
  text-decoration: underline; /* ให้มีเส้นใต้เวลาเอาเมาส์ชี้ */
}


@media (max-width: 678px) {

    /*nav*/
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    } 


    .menu-right, .logo > *:not(.imglogo):not(.imglogo1) {
        display: none;
        
    }

    

    .imglogo1{
        display: block;
    }
     
   .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    max-width: 100%;
   }


   
/*-----------main------------*/


/*section hero*/
  .hero {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 !important;
    max-width: 100%;
    
    
    
}

.herocontainer {
    display: flex;
    width: 100%;
    
}

 .herobox {
        padding: 0 16px 32px 16px;
    }

    .herobox button, .herobox .eroitem1 {
    /* สั่งให้ขยับขึ้นไป 8px เพื่อให้ระยะห่างจริงเหลือ 24px (32 - 8 = 24) */
    margin-top: -8px !important; 
}
    
  /*----sction information -------------*/

.information{
    max-width: 100%;
    padding:  16px 16px 32px 16px;
}




.content-left{
    display: none;
}


/*ครอบขวาทั้งอัน*/
.content-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 64px;
    padding: 0;
}

.list-item{
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    
}

.list-img{
    width: 100%;
    height: 300px;
     
}

.list-text{
    display: flex;
    flex-direction: column;
    width: 94%;
    padding: 16px;
   
}


/* -------------section COURSES --------   */


.main-title{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 16px !important;
}
.COURSES {
    display: flex;
    flex-direction: column;
    padding: 32px 16px; 
    background-color: #F1F1F1; 
}



.flex-container{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    gap: 8px !important; 
    width: 0 !important;
    
}

.card{
    
    width: 400px;
    justify-content: center;
    align-items: start;
    
    padding: 16px 16px 24px 16px;
    background-color: #E0E0E0;
    height: 100%;
    margin: 0;
    

    
}

.card-content{
    padding: 0 !important;
    display: flex;
    flex-wrap: nowrap;
    
}
 
.card-content p:not(.name-p) {
    display: none;
  }

  .name-p{
    margin: 0;
    display: flex;
    flex-shrink: 0;
    font-size: 22px;
    
  }

 .card-image {
    display: none;
  }
       
 .label{
    display: none;
 }


/*-----------scetion thisis------------------*/

/* 1. ซ่อนเนื้อหาอื่นๆ ทั้งหมดใน .thesis ยกเว้นหัวข้อและวิดีโอ */
.thesis p:not(.thesis-title), 
.main-info, 
.side-content {
  display: none;
}

.thesis-container{
    margin: 0;
}

.thesis{
    padding: 32px 0 24px ;
}

/* 2. จัดระเบียบหัวข้อ (Thesis exhibits) */
.thesis-title {
  display: block; /* มั่นใจว่าแสดงผลแน่นอน */
  margin-top: 32px;    /* ระยะห่างด้านบนตามรูป */
  margin-bottom: 16px; /* ระยะห่างด้านล่างตามรูป */
  text-align: center;
}

/* 3. คุมวิดีโอให้พอดีกรอบ ไม่ล้น */
.main-content {
  flex: 1; /* ขยายเต็มพื้นที่ที่เหลือ */
  width: 100%;
  
}

video {
  width: 100%;
  height: auto;
  display: block;
}



/* ----------footer---------------*/


.footer-right{
    display: none;
}

footer, .footer-container {
    
    height: 20px;

}


}