@font-face {
  font-family: 'JSD12'; /* ตั้งชื่ออะไรก็ได้ที่คุณจะเรียกใช้ */
  src: url('/fonts/Kanit/Kanit-Medium.ttf') format('truetype'); /* ใส่ชื่อไฟล์และนามสกุลให้ตรงเป๊ะ */
  font-weight: bold;
  font-style: normal;
}





*{
    font-family:  JSD12; 
}
body{
    margin: 0;
    padding: 0;
}


 .imglogo{
   width: 40px;
}

.imglogo1{
   width: 40px;
   display: none;
   
   
}

 
 .menu{
    display: flex;
    justify-content: space-between;
    margin: 24px ;
    font-size: 32px;
    height: 64px;
    
     
}

.spanname{
    font-weight: bold;
}

.spanlogo{
    color: grey;
    
}



.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
    


.menu-right{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;   /*เอา จุดๆออก*/
    
    gap: 16px;
    
    
}

.menu-right li a{
   text-decoration: none;
   color: black;
   font-size: 28px;
}

.menu-right li a:hover{
   text-decoration: none;
   color: rgba(22, 62, 172, 0.911);
}



/*-----------main------------*/










@media (max-width: 678px) {

    /*nav*/
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    } 


    .menu-right, .logo > *:not(.imglogo):not(.imglogo1) {
        display: none;
        
    }

    

    .imglogo1{
        display: block;
    }
     
   .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    

   }

/*-----------main------------*/



}

